In [1]:
import pandas as pd
import numpy as np

In [59]:
data=pd.read_csv("info_sep1.csv")

In [60]:
s=pd.DataFrame(data.isnull().sum()!=10)
s

                        0
Company              True
Type                 True
Traded as            True
Industry             True
Founded              True
Headquarters         True
Key people           True
Products             True
Revenue              True
Operating income     True
Net income           True
Total assets         True
Total equity         True
Parent               True
Website              True
Number of employees  True
ISIN                 True
Founder              True
Areas served         True
Production output    True
Number of locations  True
Area served          True
Services             True
Subsidiaries         True
Capital ratio        True
Owner                True
Divisions            True
Formerly             True
AUM                  True

In [46]:
df=data[data.isnull().sum()!=10]

C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\2182631683.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df=data[data.isnull().sum()!=10]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [40]:
df=data[(data['Company']=='Adani Power Ltd.') | (data['Company']=='Britannia Industries Ltd.') | (data['Company']=='Hindustan Aeronautics Ltd.') | (data['Company']=='Tata Motors Ltd.') | (data['Company']=='Tech Mahindra Ltd.') | (data['Company']=='Unichem Laboratories Ltd.') | (data['Company']=='Reliance Industrial Infrastructure Ltd.') | (data['Company']=='Ircon International Ltd.') | (data['Company']=='Union Bank Of India') | (data['Company']=='Bharat Dynamics Ltd.')] 
# dt=data[data['Company']=='Britannia Industries Ltd.'] 
# d0=data[data['Company']=='Hindustan Aeronautics Ltd.'] 
# d1=data[data['Company']=='Tata Motors Ltd.']
# d2=data[data['Company']=='Zomato Ltd.']
# d3=data[data['Company']=='Unichem Laboratories Ltd.']
# d4=data[data['Company']=='Reliance Industrial Infrastructure Ltd.']
# d5=data[data['Company']=='Ircon International Ltd.']
# d6=data[data['Company']=='Union Bank Of India']
# d7=data[data['Company']=='Bharat Dynamics Ltd.']

In [41]:
df

,Company,Type,Traded as,Industry,Founded,Headquarters,Key people,Products,Revenue,Operating income,...,Region,Director,Romanized name,Successor,Author,Publisher,Publication date,Text,Picture format,Sister channels
0,Adani Power Ltd.,Public,"BSE: 533096, NSE: ADANIPOWER",Energy,22 August 1996,"Shantigram, Khodiyar, Ahmedabad, Gujarat, India",Gautam Adani\n(Chairman)\nAnil Sardana\n(MD an...,"Sale and distribution, electricity generation ...","₹28,149.68 crore (US$3.7 billion) (2021)[1]","₹7,395.07 crore (US$970 million) (2021)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Britannia Industries Ltd.,Public,BSE: 500825\nNSE: BRITANNIA\nNSE NIFTY 50 Cons...,Food processing,1892; 130 years ago in Calcutta\n1918; 104 yea...,"Kolkata, West Bengal, India",Nusli Wadia (Chairman)\nVarun Berry (Managing ...,"Bakery products including biscuits, bread, cak...","₹11,878.95 crore (US$1.6 billion) (2020)","₹1,860.87 crore (US$240 million) (2020)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Hindustan Aeronautics Ltd.,Public Sector Undertaking,NSE: HAL\nBSE: 541154,Aerospace\nDefence,1940; 82 years ago\n(As Hindustan Aircraft)\n1...,"Bangalore, Karnataka, India[1]",R Madhavan\n(Chairman & MD),Transport aircraft\nFighter aircraft\nHelicopters,"₹21,522.07 crore (US$2.8 billion) (2020) [2]","₹3,960.57 crore (US$520 million) (2020)[2]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Tata Motors Ltd.,Public,BSE: 500570\nNSE: TATAMOTORS\nNYSE: TTM\nNSE N...,Automotive,1945; 77 years ago,"Mumbai, Maharashtra, India[1]",Natarajan Chandrasekaran (Chairman),Automobiles\nLuxury vehicles\nCommercial vehic...,"₹319,247 crore (US$42 billion) (2021)[2]","₹−2,377 crore (US$−310 million) (2021)[2]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Tech Mahindra Ltd.,Public,BSE: 532755\nNSE: TECHM\nBSE SENSEX Constituen...,Information technology\nConsulting\nOutsourcing,24 October 1986; 35 years ago,"Pune, Maharashtra, India[1]",Anand Mahindra\n(Chairman)\nC.P. Gurnani\n(MD ...,NaN,"₹38,642 crore (US$5.1 billion)[3] (2021)","₹6,126 crore (US$800 million)[3] (2021)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Bharat Dynamics Ltd.,Public Sector Undertaking,BSE: 541143\nNSE: BDL,Defence,1970,"Bharat Dynamics Limited Corporate Office,\nFin...",Commodore Siddharth Mishra\n(Chairman & MD),NaN,"₹3,095.20 crore (US$410 million) (2020)[1]","₹2,828.81 crore (US$370 million) (2020)[1]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Union Bank Of India,Public,BSE: 532477\nNSE: UNIONBANK,Banking\nFinancial services,11 November 1919; 102 years ago in Mumbai,"Union Bank Bhavan, 239, Vidhan Bhavan Marg, Na...",Rajkiran Rai G. (MD & CEO)[4],NaN,"₹80,104.19 crore (US$11 billion)[3] (FY21)","₹19,259 crore (US$2.5 billion)[3] (FY21)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,Ircon International Ltd.,Subsidiary of Indian Railways,BSE: 541956\nNSE: IRCON,Railway infrastructure,27 April 1976; 45 years ago,"C-4 District Centre, Saket, New Delhi, India[1]",Yogesh kumar Mishra\n(Chairman & MD),NaN,"₹5,441.72 crore (US$710 million) (2020)[2]",₹699.70 crore (US$92 million) (2020)[2],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,Reliance Industrial Infrastructure Ltd.,Public (BSE: 523445) (NSE: RIIL),NaN,NaN,29 September 1988,"NKM International House, Churchgate, Mumbai, I...",Mahesh Kalidas Kamdar\n(Chairman)\nDilipkumar ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,Unichem Laboratories Ltd.,Public,BSE: 506690,Pharmaceutical & healthcare,"1944, Mumbai","Mumbai, Maharashtra[1], India","Dr. P A Mody, Chairman & MD[2]\nMr. Dilip Kunk...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df.to_csv("info_sep1.csv",index=False)

In [23]:
df

,Company,Type,Traded as,Industry,Founded,Headquarters,Key people,Products,Revenue,Operating income,...,Region,Director,Romanized name,Successor,Author,Publisher,Publication date,Text,Picture format,Sister channels
0,Adani Power Ltd.,Public,"BSE: 533096, NSE: ADANIPOWER",Energy,22 August 1996,"Shantigram, Khodiyar, Ahmedabad, Gujarat, India",Gautam Adani\n(Chairman)\nAnil Sardana\n(MD an...,"Sale and distribution, electricity generation ...","₹28,149.68 crore (US$3.7 billion) (2021)[1]","₹7,395.07 crore (US$970 million) (2021)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.append(dt)
df.append(d0)
df.append(d1)
df.append(d2)
df.append(d3)
df.append(d4)
df.append(d5)
df.append(d6)
df.append(d6)
df.append(d7)

C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(dt)
C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(d0)
C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(d1)
C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(d2)
C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(d3)
C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(d4)
C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(d5)
C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(d6)
C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(d6)
C:\Users\LAVAYANA\AppData\Local\Temp\ipykernel_2316\487061893.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(d7)

,Company,Type,Traded as,Industry,Founded,Headquarters,Key people,Products,Revenue,Operating income,...,Region,Director,Romanized name,Successor,Author,Publisher,Publication date,Text,Picture format,Sister channels
0,Adani Power Ltd.,Public,"BSE: 533096, NSE: ADANIPOWER",Energy,22 August 1996,"Shantigram, Khodiyar, Ahmedabad, Gujarat, India",Gautam Adani\n(Chairman)\nAnil Sardana\n(MD an...,"Sale and distribution, electricity generation ...","₹28,149.68 crore (US$3.7 billion) (2021)[1]","₹7,395.07 crore (US$970 million) (2021)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Bharat Dynamics Ltd.,Public Sector Undertaking,BSE: 541143\nNSE: BDL,Defence,1970,"Bharat Dynamics Limited Corporate Office,\nFin...",Commodore Siddharth Mishra\n(Chairman & MD),NaN,"₹3,095.20 crore (US$410 million) (2020)[1]","₹2,828.81 crore (US$370 million) (2020)[1]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df

,Company,Type,Traded as,Industry,Founded,Headquarters,Key people,Products,Revenue,Operating income,...,Region,Director,Romanized name,Successor,Author,Publisher,Publication date,Text,Picture format,Sister channels
0,Adani Power Ltd.,Public,"BSE: 533096, NSE: ADANIPOWER",Energy,22 August 1996,"Shantigram, Khodiyar, Ahmedabad, Gujarat, India",Gautam Adani\n(Chairman)\nAnil Sardana\n(MD an...,"Sale and distribution, electricity generation ...","₹28,149.68 crore (US$3.7 billion) (2021)[1]","₹7,395.07 crore (US$970 million) (2021)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN